.container{ 
    text-align: center; 
    display: block; 
    background-color: rgb(129, 150, 194); 
    margin: 30px; 
    padding: 10px; 
} 
.button{ 
    padding: 5px; 
    margin: 5px; 
     background-color: rgb(79, 180, 17); 
} 
#name{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
    margin-left: 50px; 
} 
#id{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
     
} 
#salary{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
margin-left: 45px; 
} 
#department{ 
height: 30px; 
width: 250px; 
border-radius: 10px; 
margin-left: 10px; 
} 
.button:hover{ 
background-color:rgb(215, 21, 21) ; 
}