.container{ 
    text-align: center; 
    display: block; 
    background-color:lightblue;
    margin: 30px; 
    padding: 10px; 
} 
.button{ 
    padding: 5px; 
    margin: 5px; 
     background-color: green;
} 
#name{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
    margin-left: 50px; 
} 
#id{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
     
} 
#salary{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
margin-left: 45px; 
} 
#department{ 
height: 30px; 
width: 250px; 
border-radius: 10px; 
margin-left: 10px; 
} 
.button:hover{ 
background-color:orangered ; 
}
h2{
    text-align: end;
}